@import url('https://fonts.cdnfonts.com/css/general-sans');

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'General Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #FEDD04;
}

.navPad {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightItemsNav {
    display: flex;
    gap: 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    align-items: center;
}

.active {
    color: #FEDD04;
}

.rightItemsNav>span:hover {
    color: #FEDD04;
}

.logo {
    width: 10em;
}

.titleBig {
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    padding: 0px 2em;
}

.divPadWrapper {
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    padding-left: 3.9em;
    padding-right: 3.9em;
}

.divPad {
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    padding-left: 3.9em;
    padding-right: 3.9em;
    /* display: none; */
}

.subTitle {
    font-size: 2em;
    text-align: center;
    padding: 0px 5em;
}

.contactBtnDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactBtn {
    cursor: pointer;
    background-color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
}

.marqStyle {
    background-color: #FEDD04;
    color: #000 !important;
    font-weight: 500;
    padding: 0.5em 0px;
}

.cardWrapper {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    padding: 2em;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border: 2px solid #426E82;
    border-radius: 1em;
    background: linear-gradient(#050502, #426E82);
    padding: 2em 3em;
    width: 20%;
    height: 28em;
}

.cardTitle {
    font-size: 1.5em;
    font-weight: 600;
}

.cardHead {
    display: flex;
    align-items: center;
    gap: 1em;
}

.listText {
    font-size: 1.2em;
}

.workBtnWrapper {
    position: absolute;
    bottom: 2em;
}

.ourWorkBtn {
    text-decoration: none;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    background-color: #FEDD04;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.card2 {
    position: relative;
    border: 2px solid #606060;
    border-radius: 1em;
    width: 25%;
    height: 36em;
}

.imgCardWrapper {
    position: relative;
}

.imgCard {
    width: 100%;
    border-radius: 1em;
}

.ribbonTag {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: #FEDD04;
    padding: 0.3em 1.5em;
    font-weight: 600;
    font-size: 0.8em;
    color: black;
    border-radius: 1em;
}

.titleCardTwo {
    font-size: 1.2em;
    font-weight: 600;
}

.subTitleCardTwo {
    color: #FEDD04;
    font-weight: 300;
}

.card2ContentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    height: 28em;
    font-weight: 400;
    flex-wrap: wrap;
}

.cardTwoBtn {
    color: #F9575D;
    border: 2px solid #F9575D;
    text-decoration: none;
    background: none;
    border-radius: 1em;
    padding: 0.2em 1em;
    font-weight: 500;
}

.caseStudy {
    border: none;
    text-decoration: none;
    color: #FEDD04;
    background: none;
}

.caseStudy {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.contactBtnYellow {
    cursor: pointer;
    background-color: #FEDD04;
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
}

.card3Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.card3 {
    border: 2px solid #606060;
    padding: 2em;
    width: 30%;
    border-radius: 1.5em;
}

.contacNowBottomWrapper {
    padding: 3em;
    position: relative;
    margin-top: 5em;
}

.footerBg {
    background-color: #383838;
}

.footerWrapper {
    padding: 3em;
    display: flex;
    justify-content: space-evenly;
}

.footerSection {
    display: flex;
    /* justify-content: ; */
}

/* work page */

.filterBtn {
    color: #606060;
    border: none;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.tagButton {
    background-color: #FEDD04;
    color: black;
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    cursor: pointer;
}

.workTitle {
    font-size: 2em;
    font-weight: 800;
}

.workSubTitle {
    font-size: 1.5em;
    font-weight: 600;
}

.workContentWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    flex-wrap: wrap;
}

.workDescText {
    font-weight: 300;
    font-size: 20px;
}

.workCard {
    background-color: #FEDD04;
    border-radius: 1em;
    margin: 2em;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
    text-align: center;
    margin-bottom: 11em;
}

.workCardTitle {
    font-size: 2.5em;
    font-weight: 600;
    color: black;
}

.workCardSubTitle {
    color: black;
    font-size: 2em;
}

.circleBlack {
    border-radius: 50%;
    color: #FEDD04;
    background-color: #000;
    padding: 0.5em 0.9em;
    font-weight: 500;
}

.workCardNumberText {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
}

.circleWrapper {
    display: flex;
}

.wordCardWrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.redCircle {
    background-color: #F9575D;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    display: flex;
    text-align: center;
    padding: 1em;
    align-items: center;
    position: absolute;
    bottom: -3em;

}

.redCirleText {
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

.footerBtn {
    background-color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
}

hr {
    border: 1px solid #606060;
    width: 80%;
    margin: 1em 0px;
}

.tagsWrapper {
    display: flex;
    gap: 1em;
    overflow: hidden;
    overflow-x: auto;
    text-wrap: nowrap;
}

.bottomFooterWrapper {
    padding: 3em;
}

/* about */

.aboutTitle {
    color: #F9575D;
    font-size: 2em;
    text-align: center;
    padding: 0px 2em;
}

.aboutSubTitle {
    font-size: 2em;
    text-align: justify;
    padding: 0px 5em;
}

.bgRedWrapper {
    display: flex;
    justify-content: center;
}

.bgRedCard {
    background: linear-gradient(45deg, #F9575D, #000000);
    height: 70vh;
    width: 70vw;
    border-radius: 1em;
    position: relative;
}

.tab1 {
    background-color: #F9575D;
    border-radius: 1em;
    color: white;
    padding: 0.5em 2em;
    position: absolute;
    right: 0;
    top: -1em;
}

.tab2 {
    background-color: #FEDD04;
    border-radius: 1em;
    color: black;
    padding: 0.5em 2em;
    position: absolute;
    bottom: -1em;
    left: 0;
}


.cardAboutWrapper {
    margin: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.cardAbout {
    border: 1px solid #606060;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.quickLinks {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.whereWeAreBtn {
    color: white;
    border: 2px solid white;
    background: none;
    border-radius: 1em;
    padding: 0.2em 1em;
    font-weight: 500;
}

.optionsStyle {
    cursor: pointer;
}

/* custom filter dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #111;
    color: white;
    border: 1px solid #444;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 8px;
    max-height: 220px;
    overflow-y: auto;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #222;
}

.show {
    display: block;
    margin-top: 1em;
    margin-left: -0.5em;
}

/* Tags */
.selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 10px;
}

.tag {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    background-color: #FEDD04;
    color: black;
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    cursor: pointer;
}

.tag span {
    cursor: pointer;
    color: #ff4444;
    font-weight: bold;
}

.rkd-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* cursor: pointer; */
    gap: 1em;
}

.college-rival-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.college-rival-gallery-wrapper iframe {
    width: 100%;
    aspect-ratio: 9 / 16;
    /* maintains reel format */
    border: none;
    border-radius: 10px;
}

.instagram-media {
    width: 20% !important;
}

.beyond-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* cursor: pointer; */
    gap: 1em;
}

.rkd-img-1 {
    width: 100%;
    border-radius: 1em;
}

.rkd-img-2 {
    width: 100%;
    border-radius: 1em;
}

.pvr-img-1 {
    width: 100%;
    border-radius: 1em;
    max-height: 639px;
}

.beyond-img-1 {
    width: 100%;
    border-radius: 1em;
    max-height: 639px;
}

.fable-img-1 {
    width: 100%;
    border-radius: 1em;
}

.footCol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.whatsappIcon {
    position: fixed;
    bottom: 2em;
    right: 2em;
}


.college-rival-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.college-rival-gallery-wrapper iframe {
    width: 100%;
    aspect-ratio: 9 / 16;
    /* Keeps Reels proportion */
    border: none;
    border-radius: 10px;
}

.img-heart-about {
    width: 78px;
    height: 60px;
}

.contacNowBottomWrapperForWork {
    margin-bottom: 1em;
    margin-top: 10em;
}

.navPad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000;
    color: white;
    position: relative;
}

.logo {
    width: 120px;
}

.rightItemsNav {
    display: flex;
    gap: 25px;
}

.rightItemsNav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.rightItemsNav a:hover {
    color: #ffcc00;
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 18px;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}


/* --------------------------------------------------- */
/* media queries */

@media (max-width: 1024px) {
    .card {
        width: 30vw;
        height: 20em;
    }

    .listText {
        font-size: 1em;
    }

    .titleBig {
        font-size: 4em;
        padding: 0px 1em;
    }

    .subTitle {
        padding: 0px 1em;
    }

    .card2 {
        width: 27vw;
        height: 31em;
    }
}

@media (max-width: 768px) {
    .rightItemsNav {
        display: none;
    }

    .titleBig {
        font-size: 3.5em;
    }

    .card {
        width: 30vw;
        height: 27em;
        padding: 2em;
    }

    .card2 {
        width: 40vw;
        height: 32em;
    }

    .listText {
        font-size: 1em;
    }

    .footerWrapper {
        padding: 2em;
        gap: 2em;
    }

    .footCol {
        width: 30%;
    }

    .aboutTitle {
        padding: 0px;
    }

    .aboutSubTitle {
        padding: 0px;
    }

    .cardAboutWrapper {
        margin: 2em 4em;
    }

    .rightItemsNav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        transition: right 0.4s ease;
        z-index: 999;
    }

    .rightItemsNav.active {
        right: 0;
    }

    .rightItemsNav a.active {
        color: #FEDD04; 
    }

    .hamburger {
        display: flex;
        z-index: 1000;
    }

    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

@media (max-width: 600px) {
    .college-rival-gallery-wrapper {
        grid-template-columns: 1fr;
    }

    .college-rival-gallery-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media (max-width: 426px) {
    .titleBig {
        font-size: 2.5em;
        padding: 0px;
    }

    .divPad {
        padding: 2em;
    }

    .subTitle {
        font-size: 1.3em;
    }

    .card {
        width: 100%;
        height: 22em;
        padding: 2em;
    }

    .card2 {
        width: 100%;
        height: 34em;
    }

    .contacNowBottomWrapper {
        margin-bottom: 1em;
    }

    .contacNowBottomWrapperForWork {
        margin-top: 10em;
    }

    .footerWrapper {
        flex-direction: column;
    }

    .footCol {
        width: 100%;
    }

    .workCard {
        border-radius: 1em;
        margin: 1em;
        padding: 2em 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 70vw;
        text-align: center;
    }

    .workCardTitle {
        font-size: 2em;
        line-height: 1em;
    }

    .workCardSubTitle {
        font-size: 1.5em;
    }

    .redCircle {
        bottom: -24vh;
        height: 10em;
        width: 10em;
    }

    .workCardNumberText {
        font-size: 1em;
    }

    .redCirleText {
        font-size: 1em;
    }

    .footerBtn {
        font-size: 1em;
    }

    .aboutTitle {
        font-size: 1.5em;
    }

    .aboutSubTitle {
        font-size: 1.5em;
        text-align: center;
    }

    .bgRedCard,
    .cardAbout {
        width: 80vw;
    }

    .cardAboutWrapper {
        margin: 2em;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .cardAbout {
        padding: 1em;
    }
}